<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent><action android:name="android.speech.action.RECOGNIZE_SPEECH" /></intent>
        <intent><action android:name="android.speech.RecognitionService" /></intent>
        <intent><action android:name="android.intent.action.TTS_SERVICE" /></intent>
    </queries>

    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:label="IF Jarvis"
        android:theme="@style/Theme.IFJarvis"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".JarvisVoiceInteractionService"
            android:label="IF Jarvis"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:process=":voice_interactor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/voice_interaction_service" />
        </service>

        <service
            android:name=".JarvisSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:process=":voice_session"
            android:exported="true" />

        <service
            android:name=".JarvisRecognitionService"
            android:label="IF Jarvis Recognition"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.RecognitionService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognition_service" />
        </service>

    </application>
</manifest>
